/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-principal: #26C5DA;
    --cor-destaque: #043f62;
    --cor-01: #f9f9f9;
    --cor-02: #9b9797;
    --cor-03: #232323;
    --cor-rodape: #232323ad;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body{
    background-color: var(--cor-02);
    color: var(--cor-03);
}

nav{
    background-color: var(--cor-03);
    color: var(--cor-01);
    width: 100%;
    position: fixed;
    padding: 1.2rem 5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

nav span{
    color: var(--cor-principal);
}

nav a{
    text-decoration: none;
    color: inherit;
}

nav ul{
    list-style-type: none;
    display: flex;
}

.menu a{
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 1rem 2rem;
    transition: 0.3s;
}

.menu a:hover{
    color: var(--cor-principal);
}

/* Classes */

main {
    
    padding: 4.3rem 0.2rem 0.2rem 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;

}

.noticias {
    display: flex;
    background-color: var(--cor-01);
    border: 1px solid var(--cor-02);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px var(--cor-03);
    max-width: 100%;
    position: relative; /* Para o botão "Leia mais" */
}

.imagem {
    flex-shrink: 0;
}

.imagem img {
    padding: 0.2rem;
    width: 600px; /* Ajuste conforme necessário */
    height: 100%;
}

.conteudo {
    padding: 15px;
    flex: 1;
}

header {
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align:justify;
}

.leia-mais {
    display: inline-block;
    background-color: var(--cor-03);
    color: var(--cor-01);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.leia-mais:hover {
    background-color: var(--cor-destaque);
}

/* RODAPE */
footer {
    background-color: var(--cor-rodape);
    color: var(--cor-01);
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed; /* Faz o rodapé ficar fixo */
    bottom: 0; /* Posiciona o rodapé no fundo da página */
    left: 0; /* Garante que o rodapé esteja alinhado à esquerda */
    z-index: 1000; /* Garante que o rodapé fique acima de outros conteúdos */
}

footer p {
    text-align: center; /* Centraliza o texto dentro do <p> */
    margin: 0; /* Remove margens extras */
}
